<html xmlns:th="http://www.thymeleaf.org" >
	<body>
	<p>All items: </p>
	 <table>
		<tr th:each="item : ${package-all}">
		<td th:text="${item.getItemSubType()}" > </td>
		<td th:text="${item.getItemName()}" > </td>
		<td th:text="${item.getItemQuality()}" > </td>
		<td th:text="${item.getItemRarity()}" > </td>
		<td th:text="${item.getItemSuggestedPrice()}" > </td>
		<td th:text="${item.getItemSalePrice()}" > </td>
		<td th:text="${item.getPatternIDs()}" > </td>
		<td th:text="${item.getItemFloat()}" > </td>
		</tr>
      </table>
	</body>
</html>